.dummy{
	color : black;
}

a:hover {
    text-decoration: none; /* Remove the underline on hover */
}

.redCard lightning-card{
	 background-color: red;
}

.posterImg{
	 border-radius: 50%;
	 width: 7%;
	 height : 7%;
}

.skillImg{
	width : 30%;
	height : 30%;
}

.skillImghtml{
	width : 60%;
	height : 60%;
}

.boxdetail{
	color : white;
}

.customfont{
    font-size: 17px; 
	letter-spacing: 1px;
}

.iconSize{
	width: 25px;
    height: 25px;
}

.RangerSize{
	width: 35%;
	height: 35%;
}

.detailgiven{
	color: #F1C40F;	
}

.detailgivens{
	color: #F1C40F;
	font-size: 20px;
	font-style: bold;
}

.backColor{
	background-color: #F1C40F;
}

h4{
	font-size: 20px;font-weight: bold;
}

.projectpara{
	font-size: 15px;
}

.eduSize{
	font-size: 20px
}

.img-valign {
  vertical-align: middle;
  
}

.text1 {
  font-size: 20px;
}

.text2{
	font-size: 15px;
}

.listhover{
	cursor: pointer;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  align-content: center;
}

.flex-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

input[type=text],input[type=number],input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 60%;
}

h3{
	font-size: 20px;
	font-weight: bold;
}

.summarySize{
  font-size : 14px;
}

.collegelogo{
  width: 70%;
  height: 70%;
}

.about, h5{
font-size : 15px;
}

.boxBackground{
  background-color: #5499C7 ;
}

.TechSkill{
  color : white;
}

.skillImghtmlProblem, .vscodeImg, .postmanImg{
  width : 30%;
  height : 30%;
}

.containers{
      display: flex;
      gap: 10px;
      background-color: white;
}